# Modules are installed during image build, see Dockerfile
node_modules/

# Docker files
docker-compose.yml
Dockerfile
.dockerignore

# Git files
.gitignore
.git/

# Additional files
LICENSE
README.md
