    </div>
    <footer class="mt-5 pt-3">
        <hr>
        <div class="container text-secondary py-3">
            <p class="fw-bold">FileDrop <%= version %></p>
            <p>Visit us: <a href="https://github.com/DavidJAlbers/FileDrop">https://github.com/DavidJAlbers/FileDrop</a></p>
            <p>&copy; 2020 by <a href="https://davidjalbers.de">David J. Albers</a> and <a href="htttps://justusklameth.de">Justus Klameth</a></p>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>