<%- include('_header'); -%>
    <h1 class="display-1"><%= pageBranding %></h1>
    <p class="my-5">
        Hier gibt es nichts zu sehen. <br>
        Es wird ein Direktlink benötigt, um Zugang zu einer spezifischen Ressource zu erhalten.
    </p>
<%- include('_footer'); -%>